@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-bg-color: rgb(224, 224, 224);
  --main-text-color: #575757;
  --main-bg-color-dark: #3b3b3b;
  --main-text-color-dark: #9b9b9b;
  --main-bg-light-gradient: linear-gradient(145deg, #f0f0f0, #e4e4e4);
}
.dark_in_big {
  background-color: #404040;
  box-shadow: inset 30px 30px 60px #363636, inset -30px -30px 60px #4a4a4a;
}
.dark_in_small {
  background-color: #404040;
  box-shadow: inset 5px 5px 10px #363636, inset -5px -5px 10px #4a4a4a;
}
.dark_out_big {
  background-color: #404040;
  box-shadow: 30px 30px 60px #363636, -30px -30px 60px #4a4a4a;
}
.dark_out_small {
  border: none;
  background-color: #404040;
  box-shadow: 5px 5px 10px #363636, -5px -5px 10px #4a4a4a;
}
.dark_out_small:focus {
  outline: none;
}
.light_out_small {
  background-color: var(--main-bg-light-gradient);
  box-shadow: 6px 6px 14px #c4c4c4, -6px -6px 14px #ffffff;
}
.light_out_big {
  background-color: var(--main-bg-light-gradient);
  box-shadow: 6px 6px 14px #c4c4c4, -6px -6px 14px #ffffff;
}
.light_in_small {
    background-color: var(--main-bg-light-gradient);
  box-shadow: inset 4px 4px 8px #cacaca, inset -4px -4px 8px #f6f6f6;
}
